* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-style: italic;
	font-family: 'Courier New', Courier, monospace;
}

body {
	background: rgb(18, 173, 101);
	background: linear-gradient(
		90deg,
		rgba(18, 173, 101, 1) 13%,
		rgba(222, 212, 10, 1) 30%,
		rgba(170, 0, 138, 1) 61%,
		rgba(0, 143, 255, 1) 90%
	);
}

h1 {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 40px;
	color: white;
}

.container {
	display: grid;
	max-width: 500px;
	min-height: 500px;
	margin: auto;
	background-color: white;
}

.items {
	border: 1px solid black;
}

.btn-flex {
	display: flex;
	justify-content: center;
}

button {
	border: none;
	font-size: 27px;
	margin: 10px;
}
